.container{
  background-color: aquamarine;
  display:grid;
  width: 90%;
  height: 80vh;
  grid-template-columns: repeat(2, 1fr);
}

.form{
  width:70%;
  margin-top:15%;
  margin-left:45%;
  height: 70vh;
  
}


.form h1{
  /* align-items: start; */
  text-align: start;
  /* justify-content: center; */
  margin-left: 20px;
  font-size:3.4em;
  font-weight: 700;

}
.form p{
  text-align: start;
  align-items: center;
  justify-content: center;
  font-size: 1.8em;
  font-weight: 500;
  margin-top:50px;
}

.email i{
 display:flex;
 position: absolute;
 padding:10px;
 margin-bottom: 20px;
 font-size: 2em;
}
.password i{
  display:flex;
  position: absolute;
  font-size: 2em;
  padding:10px;
  margin-bottom: 25px;
}
label{
  font-size: 1.5em;
  font-weight: 700;
}
.password input {
  width:100%;
  height: 60px;
  background-color: var(--primary-color);
  text-align: center;
   box-shadow:0 4px 8px grey;
   border:none;
   font-size: 2em;
}
.email input {
  width:100%;
  height: 60px;
  background-color: var(--primary-color);
  text-align: center;
  box-shadow:0 4px 8px grey;
  border:none;
  font-size: 2em;
}
 .email{
  display: flex;
 }
 .password{
  display: flex;
 }
.sign{
  justify-content: space-between;
  display:flex;
  margin:20px;
   
}
.sign a{
  color:rgb(211, 4, 4);

}
.sign a:hover{
  color:blue;
  
}
.check input{
justify-items: start;
align-items: start;
margin-top: 15px;
  
}
.check label{
  position: absolute;
  padding:2px;
}
button{
  width:80%;
  height: 60px; 
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 60px;
  border-radius: 10px; 
  font-size :1.7em;
  text-align: center;
  box-shadow:0 4px 8px black ;
}
.log-btn{
  background: var(--accent-color);
  color:var(--bg-color);
 

}
.logoog-btn{
  background-color: var(--bg-color);
  border: 1px solid black;
  
  
}

.log-btn:hover{
  border: 1px solid black;
  color:var(--bg-color);
}
.logoog-btn:hover{
  color:var(--bg-color);
}
.logoog-btn img{
  position: absolute;
  padding:1px;
  left:25%;
  min-width: 10px;
}
.form h5{
  margin-left:40%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image{
  background-image:url(../images/pic1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  margin-top: 20%;
  margin-left: 6%;
  align-items: start;
  justify-content: start;
  height: 75vh;
}
@media (max-width:767px){
  .container{
    align-items: start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
  }
  .form{
    width:70%;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    margin:60px;
  }
  .image{
    width:100%;
    margin-left:10px;
    margin-top:100px;
    background-size: contain;
    height: 60vh;
  }
  .form h1{
  text-align: center;
  font-size:2.5em;
  font-weight: 600;

}
.form p{
  text-align: start;
  align-items: start;
  font-size: 1.3em;
  font-weight: 500;
  margin-top:20px;
}

.email i{
 position: absolute;
 padding:10px;
 margin-left:10px;
 margin-top: -10px;
}
.password i{
  position: absolute;
  padding:10px;
  margin-left:10px;
   margin-top: -10px;
}
label{
  font-weight: 700;
  font-size: 0.8em;
  text-align: start;
}
.password input {
  width:100%;
  height: 50px;
  text-align: center;
  border:none;
  font-size: 0.8em;
}
.email input {
  width:100%;
  height: 50px;
  text-align: center;
  border:none;
  font-size: 0.8em;
}
.sign{
  justify-content: start;
   display: flex;
   align-items: start;

}
.sign a{
  justify-content: start;
}
.check input{
justify-items: start;
  align-items: start;
  margin-top:50px;

}
.check label{
  position: absolute;
  padding:46px;
  
}
button{
  width:100%;
  height: 50px; 
  align-items: start;
  margin: 5px;
  font-size :1em;
  text-align: center;
}
.log-btn{

}
.logoog-btn{
  background-color: var(--bg-color);
  border: 1px solid black;
  
}

.logoog-btn img{
  position: absolute;
  padding:3px;
  bottom:27%;
  left:80px;
}
}
@media (max-width:1024px){
  .container{
    align-items: start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
  }
  .form{
    width:70%;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    margin:60px;
  }
  .image{
    width:100%;
    margin-left:5px;
    margin-top:200px;
    background-size: contain;
    height: 60vh;
  }
  .form h1{
  text-align: center;
  font-size:2em;
  font-weight: 600;

}
.form p{
  text-align: start;
  align-items: start;
  font-size: 1.3em;
  font-weight: 500;
  margin-top:20px;
}

.email i{
 position: absolute;
 padding:10px;
}
.password i{
  position: absolute;
  padding:10px;
}
label{
  font-weight: 700;
  font-size: 0.8em;
  text-align: start;
}
.password input {
  width:100%;
  height: 50px;
  text-align: center;
  border:none;
  font-size: 0.8em;
}
.email input {
  width:100%;
  height: 50px;
  text-align: center;
  border:none;
  font-size: 0.8em;
}
.sign{
  justify-content: start;
   display: flex;
   align-items: start;

}
.sign a{
  justify-content: start;
}
.check input{
justify-items: start;
  align-items: start;
  margin-top:50px;

}
.check label{
  position: absolute;
  padding:46px;
  
}
button{
  width:100%;
  height: 50px; 
  align-items: start;
  margin: 5px;
  font-size :1.2em;
  text-align: center;
}
.log-btn{
  
}
.logoog-btn{
  background-color: var(--bg-color);
  border: 1px solid black;
  
}

.logoog-btn img{
  position: absolute;
  padding:3px;
  left:80px;
  bottom:-27%;  
    
}
}