@font-face {
  font-family: "OurFont";
  src:url(/fonts/Poppins-Regular.ttf);
}

root {
  --bg-color: #FFFE8E;
  --primary-color: #D9D9D9;
  --accent-color: #DB8B5E;
  --text-color: black;
  --font-family: "OurFont";
}